.Rproj.user
.Rhistory
.RData
.Ruserdata
.png

.cpg
.qpj
.shx
.dbf
.prj
.shp

# Folders:
/Data
/Model_development/Model-cleaning/runtime

# Specific files in specific folders:
/Model_analysis/Sensitivity-analysis/**.csv
/Model_analysis/Sensitivity-analysis/temp/




# Temporary files
**/runtime
runtime/
**.tmp.**
/locations_*




