.Rproj.user
.Rhistory
.RData
.Ruserdata
.png

.cpg
.qpj
.shx
.dbf
.prj
.shp

# Folders:
/Data

# Temporary files
**/runtime
runtime/
**.tmp.**
/locations_*

Model_development/Model-cleaning/runtime
Model_development/Model-cleaning/runtime
