.Rproj.user
.Rhistory
.RData
.Ruserdata
.png


# rmd related:
*.log
*.tex

# GIS related:
.cpg
.qpj
.shx
.dbf
.prj
.shp
.asc

# drawio related
.bkp

# Folders:
/Data/Shapefiles/*
/Data/Movement/Trees-Guarei/*
!/Data/Movement/Trees-Guarei/Tree-points-unique.R
/Data/Movement/Resource-trees/*
!*/Tree-points-unique.R
!*/Tree-points-to-shapefile.R
/Model_development/Model-cleaning/runtime

# Specific files in specific folders:
/Model_analysis/Sensitivity-analysis/**.csv
/Model_analysis/Sensitivity-analysis/temp/
/Model_analysis/Sensitivity-analysis/**.rds
/Model_analysis/Sensitivity-analysis/v1.1_August2022/temp/HR_values_FF_2022-08-06d.csv
/Model_analysis/Sensitivity-analysis/v1.1_August2022/**.rds
/Model_analysis/Sensitivity-analysis/v1.1_August2022/temp/Model_v1.1_Sensitivity_FullFact_2022-08-04d/**.rds

Data/Seed_dispersal/Curated/**.png
Data/Seed_dispersal/Curated/Param_siminputrow/**.png
Data/Seed_dispersal/Curated/Param_all-data/**.png
Data/Seed_dispersal/Curated/Validation/**.png


# Temporary files
**/runtime
runtime/
**.tmp.**
/locations_*




